.main-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.results-quantity, .container-download {
    display: flex;
    align-items: center;
    text-align: center;
    width: 320px;
    margin: 0 0 10px 10px;
}   

input, label {
    margin-right: 10px;
}

.button-report {
    font-size: .9em;
    width: 100px;
    height: 40px;
}

.container-value {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.container-apartments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-bottom: 20px;
}

.apartment {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 320px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;    
}

.apartment__phone {
    align-self: flex-start;
}

.button {
    margin: 0 auto;
    width: 140px;
    height: 60px;
    border-radius: 10px;
}

.button__link {
    font-size: 20px;
}
