.container-form {
    min-height: 100vh;
}

.data {
    display: none;
}

.form-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    margin-bottom: 50px;
}

.table-products {
    border-spacing: 10px;
}

.table-products__data {
    text-align: center;
}

.product-iva, .product-quantity {
    width: 100px;
}

.product-priceu, .product-totalprice, .product-total {
    width: 150px;
}

.product-plus, .product-delete {
    width: 30px;
    margin: 5px;
    cursor: pointer;
}

.table-products__total {
    text-align: right;
}

.product-total {
    margin-left: 20px;
}

.form-search__input {
    width: 200px;
    height: 30px;
    margin: 10px;
    text-decoration: none;
}

.form-search__submit {
    display: block;
    font-size: .9em;
    width: 220px;
    height: 40px;
    margin-top: 30px;
}