.container-form {
    min-height: 80vh;
}

.data {
    display: none;
}

.form-search {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1100px) {
    .form-search {
        align-items: center;
    }
}

.container-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.container-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 10px;
}

.client-label {
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.container-products {
    overflow-x: auto;
    white-space: nowrap;
}

.table-products {
    border-spacing: 10px;
}

.table-products__data {
    text-align: center;
}

.product-iva, .product-quantity {
    width: 100px;
}

.product-priceu, .product-totalprice, .product-total {
    width: 150px;
}

.product-plus, .product-delete {
    width: 30px;
    margin: 5px;
    cursor: pointer;
}

.table-products__total {
    text-align: right;
}

.product-total {
    margin-left: 20px;
}

.conatiner-report {
    margin: 50px;
}

.button-report {
    display: block;
    font-size: .9em;
    width: 220px;
    height: 40px;
    margin-top: 30px;
}