doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css" href="/css/styles.css")
        link(rel="stylesheet", type="text/css" href="/css/search.css")
        title Cotización
    body
        header
            h1(class="title") Generador de cotizaciones
        main
            div(class="container-form")
                input(type="hidden" data-products=products class="data") 
                form(class="form-search")
                    div(class="container-data")
                        div(class="container-client")
                            div(class="client-label")
                                label(for="") Nombre del cliente
                            div
                                input(type="text" name="name" required)
                        div(class="container-client")
                            div(class="client-label")
                                label(for="") Tipo de documento 
                            div
                                input(list="dnilist" name="dnitype" required)
                                datalist(id="dnilist")
                                    option(value="Cédula de ciudadanía")
                                    option(value="NIT") 
                                    option(value="Cédula de extranjería")
                        div(class="container-client")
                            div(class="client-label")
                                label(for="") Documento de identidad
                            div
                                input(type="number" min="0" name="dni" required)
                    div(class="container-products")
                        table(class="table-products")
                            colgroup
                                col(class="table-products__col1")
                                col(class="table-products__col2")
                                col(class="table-products__col3")
                                col(class="table-products__col4")
                                col(class="table-products__col5")
                                col(class="table-products__col6")
                            thead
                                th(class="table-products__head") Seleccione un producto
                                th(class="table-products__head") Precio unitario (COP)
                                th(class="table-products__head") IVA (%)
                                th(class="table-products__head") Cantidad
                                th(class="table-products__head") Costo total (COP)
                                th(class="table-products__head") 
                            tbody(class="table-products__body")
                    div(class="conatiner-report") 
                        input(type="button" value="Decargar cotización" class="send button-report") 
        
        script(src="/js/rowtable.js" type="module")
        script(src="/js/calculateproduct.js" type="module")
        script(src="/js/generatefile.js" type="module")
          
            